<div class="container-fluid p-4">
  <div class="card p-3">
    <div class="card-body">
      <!-- Titulo -->
      <div class="row">
        <div class="col-sm-8 col-12">
          <h3>Clientes</h3>
          <p class="small">Lista dos clientes cadastrados</p>
        </div>
        <div class="col-sm-4 col-12 text-end">
          <button type="button" class="btn btn-primary" (click)="adicionarCliente()">Novo cliente</button>
        </div>
      </div>
      <!-- /Titulo -->
      <!-- Ordenação e filtro -->
      <form class="row g-2 float-end mb-3">
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingSelect">Ordenação</label>
          <select class="form-select" id="autoSizingSelect">
            <option selected>Nome</option>
            <option value="1">Data Nascimento</option>
            <option value="2">Renda Mensal</option>
          </select>
        </div>
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInputGroup">Nome, CPF ou Renda Mensal</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nome, CPF ou Renda" aria-label="Nome, CPF ou Renda" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Procurar</button>          
          </div>
        </div>
      </form>
      <!-- /Ordenação e filtro -->
      <!-- Tabela -->
      <table class="table">
        <thead>
          <tr>
            <th>Nome Cliente</th>
            <th>CPF</th>
            <th>Data Nascimento</th>
            <th>Renda Mensal</th>
            <th>E-mail</th>
            <th class="text-center" width="auto">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td class="td-align">{{ cliente.nome }}</td>
            <td class="td-align">{{ cliente.cpf }}</td>
            <td class="td-align">{{ cliente.data_nasc }}</td>
            <td class="td-align">R$ {{ cliente.renda_mes }}</td>
            <td class="td-align">{{ cliente.email }}</td>
            <td class="td-align" class="text-center">
              <button type="button" class="btn btn-outline-primary btn-sm m-1" (click)="alterarDadosCliente()">Editar</button>
              <button type="button" class="btn btn-outline-primary btn-sm m-1" data-bs-toggle="modal" data-bs-target="#modalExclusao" (click)="idExclusao = cliente.id">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- /Tabela -->

      <!-- Modal Exclusao-->
      <div class="modal fade" id="modalExclusao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Cliente</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Deseja realmente prosseguir com a exclusão do cliente?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="excluirRegistroCliente()">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Modal Exclusao-->
    </div>
  </div>
</div>
