<div class="container-fluid p-5">
  <div class="content">
    <!-- Titulo -->
    <div class="row">
      <div class="col-sm-8 col-12">
        <p class="title-page mb-0">Clientes</p>
        <p class="sub-title-page">Lista de clientes cadastrados</p>
      </div>
      <div class="col-sm-4 col-12 text-end ml-20">
        <button
          type="button"
          class="btn btn-primary"
          (click)="adicionarCliente()"
        >
          Novo cliente
        </button>
      </div>
    </div>
    <!-- /Titulo -->
    <!-- Ordenação e filtro -->
    <form class="row g-3 float-end mb-3 me-3">     
      <div class="col-auto me-3">
        <div class="form-group mb-3">
          <span class="label-element" id="basic-addon1">Ordenar por:</span>          
          <select #ordenacao class="form-select" id="autoSizingSelect" (change)="ordenarLista(ordenacao.value)">
            <option selected value="nome">Nome</option>
            <option value="data_nasc">Data Nascimento</option>
            <option value="renda_mes">Renda Mensal</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-group">
          <span class="label-element" id="basic-addon1">Pesquisar por:</span>  
          <select
            #tipo
            class="form-select"
            aria-label="Default select example"
            (change)="aplicarTipoPesquisa(tipo.value)"
          >
            <option value="nome">Nome</option>
            <option value="cpf">CPF</option>
            <option value="data_nasc">Data Nascimento</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <span class="label-element" id="basic-addon1">Pesquisar:</span> 
        <input
            type="text"
            class="input-element"
            aria-label="Nome, CPF ou Data"
            aria-describedby="button-addon2"
            name="filtro"
            [(ngModel)]="query"
            (keyup.enter)="filtroPesquisa()"
          />
      </div>
    </form>
    <!-- /Ordenação e filtro -->
    <!-- Tabela -->
    <div class="table-wrapper p-3">
      <table class="fl-table">
        <thead>
          <tr>
            <th>Nome Cliente</th>
            <th>CPF</th>
            <th>Data Nascimento</th>
            <th>Renda Mensal</th>
            <th>E-mail</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.nome }}</td>
            <td>
              {{ cliente.cpf | mask : "000.000.000.-00" }}
            </td>
            <td>
              {{ cliente.data_nasc | date : "dd/MM/yyyy" }}
            </td>
            <td>{{ cliente.renda_mes | currency : "BRL" }}</td>
            <td>{{ cliente.email }}</td>
            <td>
              <a
                type="button"
                class="m-1"
                (click)="alterarDadosCliente(cliente.id)"
              >
                Editar
              </a>
              <a
                type="button"
                class="m-1"
                data-bs-toggle="modal"
                data-bs-target="#modalExclusao"
                (click)="idExclusao = cliente.id"
              >
                Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /Tabela -->
    <!-- Paginacao -->
    <div class="col-auto text-center pt-4">
      <div class="btn-group" role="group" aria-label="paginacao">
        <button type="button" class="btn btn-outline-primary" [disabled]="pagina === 1" (click)="carregarPagina(pagina - 1)">Anterior</button>
        <button type="button" class="btn btn-outline-primary" disabled>Pagina {{pagina}} de {{totalDePaginas}}</button>
        <button type="button" class="btn btn-outline-primary" [disabled]="pagina === totalDePaginas" (click)="carregarPagina(pagina + 1)">Próxima</button>
      </div>
    </div>
    <!-- /Paginacao -->
    <!-- Modal Exclusao-->
    <div
      class="modal fade"
      id="modalExclusao"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Excluir Cliente
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Deseja realmente prosseguir com a exclusão do cliente?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              #closebutton
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="excluirRegistroCliente()"
            >
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Modal Exclusao-->
  </div>
</div>
