<div class="dialog-container">
  <div class="dialog-content">
    <div class="dialog-icon mb-2 text-danger">
      <i class="fa-solid fa-circle-exclamation"></i>
    </div>
    <h1 class="title mb-4" *ngIf="title != ''">{{ title }}</h1>
    <p class="body mb-4 text-primary" *ngIf="body != ''">{{ body }}</p>
    <div class="btn-container">
      <button class="btn btn-secondary btn-min-w me-2" (click)="cancelar()">Cancelar</button>
      <button class="btn btn-primary btn-min-w" (click)="confirmar()">Confirmar</button>
      <!-- <button class="btn btn-primary btn-min-w" (click)="confirmar()">OK</button> -->
    </div>
  </div>
</div>
