.header {
    display: flex;
    justify-content: center;
    height: 55px;
    background: #002C37;
    align-items: center;
}
.item-header-1 {
    color: #002C37;
    background: #FFFFFF;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 39px 0;
    font-size: 12px;
    font-weight: 700;
}
.item-header-2 {
    color: #FFFFFF;
    margin-top: 14px;
    margin-left: 5px;
    font-size: 14px;
    text-transform: uppercase;
}