<div class="container-fluid p-4">
  <div class="card p-3">
    <div class="card-body">
      <!-- Titulo -->
      <div class="row">
        <div class="col-sm-12 col-12">
          <h3>
            {{
              idCliente ? "Alterar dados cadastrais" : "Adicionar novo cliente"
            }}
          </h3>
          <p class="small text-danger">
            Os campos com (*) são de preenchimento obrigatório
          </p>
        </div>
      </div>
      <!-- /Titulo -->
      <!-- Formulario -->
      <form [formGroup]="form" (ngSubmit)="enviar()">
        <div class="row">
          <div class="col-sm-8 col-12 mb-3">
            <label for="nome" class="form-label"
              ><span class="text-danger">*</span> Nome Cliente</label
            >
            <input
              type="text"
              class="form-control"
              id="nome"
              placeholder="Nome cliente"
              formControlName="nome"
              [ngClass]="{ 'is-invalid': enviado && f['nome'].errors }"
            />
            <div *ngIf="enviado && f['nome'].errors" class="invalid-feedback">
              <div *ngIf="f['nome'].errors['required']">
                Nome é um campo obrigatório.
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12 mb-3" *ngIf="novoCadastro">
            <label for="cpf" class="form-label"
              ><span class="text-danger">*</span> CPF</label
            >
            <input 
              mask="000.000.000-00"
              type="text"
              class="form-control"
              id="cpf"
              placeholder="000.000.000-00"
              formControlName="cpf"
              [ngClass]="{ 'is-invalid': enviado && f['cpf'].errors }"
            />
            <div *ngIf="enviado && f['cpf'].errors" class="invalid-feedback">
              <div *ngIf="f['cpf'].errors['required']">
                CPF é um campo obrigatório.
              </div>
              <div *ngIf="f['cpf'].errors['mask']">
                Entre com um CPF válido.
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12 mb-3" *ngIf="!novoCadastro">
            <label for="cpf" class="form-label"
              ><span class="text-danger">*</span> CPF</label
            >
            <input *ngIf="cliente"
              disabled
              type="text"
              class="form-control"
              id="cpf"
              [(ngModel)]="cliente.cpf" 
              #cpf="ngModel"
              [ngModelOptions]="{standalone: true}"
              mask="000.000.000-00"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-12 mb-3">
            <label for="nascimento" class="form-label"
              ><span class="text-danger">*</span> Data de Nascimento</label
            >
            <input
              type="date"
              class="form-control"
              id="nascimento"
              placeholder="00/00/0000"
              formControlName="data_nasc"
              [max]="dataAtual"
              [ngClass]="{ 'is-invalid': enviado && f['data_nasc'].errors }"
            />
            <div *ngIf="enviado && f['data_nasc'].errors" class="invalid-feedback">
              <div *ngIf="f['data_nasc'].errors['required']">
                Data de nascimento é um campo obrigatório.
              </div>
              <div *ngIf="f['data_nasc'].errors['pattern']">
                Entre com uma data válida.
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12 mb-3">
            <label for="renda" class="form-label"
              ><span class="text-danger">*</span> Renda Mensal</label
            >
            <input
              currencyMask 
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
              type="text"
              class="form-control text-start"
              id="renda"
              placeholder="R$ 1.000,00"
              formControlName="renda_mes"
              [ngClass]="{ 'is-invalid': enviado && f['renda_mes'].errors }"
            />
            <div *ngIf="enviado && f['renda_mes'].errors" class="invalid-feedback">
              <div *ngIf="f['renda_mes'].errors['required']">
                Renda Mensal é um campo obrigatório.
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12 mb-3">
            <label for="email" class="form-label"
              ><span class="text-danger">*</span> E-mail</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="nome@email.com"
              formControlName="email"
              [ngClass]="{ 'is-invalid': enviado && f['email'].errors }"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            />
            <div *ngIf="enviado && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">
                E-mail é um campo obrigatório.
              </div>
              <div *ngIf="f['email'].errors['pattern']">
                Entre com um email válido.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-end">
            <button
              type="button"
              class="btn btn-secondary me-2"
              (click)="voltar()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>

      </form>
      <!-- Formulario -->
    </div>
  </div>
</div>
